* {
    margin: 0;
    padding: 0;
    font-family: "Heebo", sans-serif;
}

body {
  margin: 0;
  background: url("/assets/images/LightTree.jpg") no-repeat center center fixed rgba(0, 0, 0, 0.2); 
  background-size: cover;
}


/*  PAGE HEADER */

.header_container {
    padding: 10px;
}

.header {
    text-align: center;
    background: rgba(218, 223, 225, 0.8);
    width: 70%;
    margin: auto;
    color: #ff5d8f;
    border-radius: 20px;
}

.header h1 {
    font-size: 32px;
    padding: 8px;
    margin: 0;
    font-weight: 600;
}

.header h2 {
    font-size: 20px;
    padding: 8px;
    margin: 0;
}

/* GAME INFORMATION ROW */

.game-info {
    text-align: center;
    background: linear-gradient(90deg, #ff5d8f, #ff1d92);
    display: inline;
    margin: auto;
    height: 40px;
    width: 33%;
    justify-content: center;
    color: rgba(218, 223, 225, 0.8);
    border-radius: 10px;
}

.button-style {
    border: none;
    cursor: pointer;
}

/* GAME GRID */

.game-container {
    width: 100%;
    max-width: 768px;
    margin: 16px 0px;
}

.game-container .row {
    display: block;
    text-align: center;
}

.card {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 5px;
    text-align: center;
    background: url();
}

/* GAME CONTROLS */

.toggle-button {
    text-align: center;
    background: linear-gradient(90deg, #ff5d8f, #ff1d92);
    display: inline;
    height: 40px;
    justify-content: center;
    color: rgba(218, 223, 225, 0.8);
    border-radius: 10px;
}

