* {
    margin: 0;
    padding: 0;
    font-family: "Heebo", sans-serif;
}

body {
  margin: 0;
  background: url("/assets/images/LightTree.jpg") no-repeat center center fixed rgba(0, 0, 0, 0.2); 
  background-size: cover;
}


/*  PAGE HEADER */

.header-container {
    padding: 10px;
}

.header {
    text-align: center;
    background: rgba(218, 223, 225, 0.8);
    width: 70%;
    margin: auto;
    color: #ff5d8f;
    border-radius: 20px;
}

.header h1 {
    font-size: 32px;
    padding: 8px;
    margin: 0;
    font-weight: 600;
}

.header h2 {
    font-size: 20px;
    padding: 8px;
    margin: 0;
}

/* GAME INFORMATION ROW */

.game-info {
    text-align: center;
    background: linear-gradient(90deg, #ff5d8f, #ff1d92);
    display: inline;
    margin: auto;
    height: 40px;
    width: 33%;
    justify-content: center;
    color: rgba(218, 223, 225, 0.9);
    border-radius: 10px;
}

/* GAME CONTROLS STYLES - top and bottom */

.button-style {
    outline: none;
    border: 0px; 
    box-sizing: none; 
    background-color: transparent; 
    color: rgba(218, 223, 225, 0.9);
}

.button-style, .flip-counter, .toggle-button {
    padding-top: 8px;
}

/* GAME GRID */

.game-container {
    text-align: center;
}

.card {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 3px;
    background: #fff;
    cursor: pointer;
}

.card:hover {
    box-shadow: inset 0px 0px 0px 3px #ff96b7;
    box-sizing: border-box;
}

/* CARD FACES */

.robin {
    background-image: url(/assets/images/RobinSquare.jpg);
    background-size: contain;
    max-width:100%;
    max-height:100%;
}

.bluetit {
    background-image: url(/assets/images/BluetitSquare.jpg);
    background-size: contain;
    max-width:100%;
    max-height:100%;
}

.bullfinch {
    background-image: url(/assets/images/BullfinchSquare.jpg);
    background-size: contain;
    max-width:100%;
    max-height:100%;
}

.chaffinch {
    background-image: url(/assets/images/ChaffinchSquare.jpg);
    background-size: contain;
    max-width:100%;
    max-height:100%;
}

.goldfinch {
    background-image: url(/assets/images/GoldfinchSquare.jpg);
    background-size: contain;
    max-width:100%;
    max-height:100%;
}

.kingfisher {
    background-image: url(/assets/images/KingfisherSquare.jpg);
    background-size: contain;
    max-width:100%;
    max-height:100%;
}

.sparrow {
    background-image: url(/assets/images/SparrowsSquare.jpg);
    background-size: contain;
    max-width:100%;
    max-height:100%;
}

.swallow {
    background-image: url(/assets/images/SwallowSquare.jpg);
    background-size: contain;
    max-width:100%;
    max-height:100%;
}

.card-hidden {
    background-image: url(/assets/images/Egg_Card.jpg);
    background-size: contain;
    max-width:100%;
    max-height:100%;
}

/* GAME CONTROLS */

.toggle-button {
    text-align: center;
    background: linear-gradient(90deg, #ff5d8f, #ff1d92);
    display: inline;
    height: 40px;
    justify-content: center;
    color: rgba(218, 223, 225, 0.9);
    border-radius: 10px;
}

